/* -------------------- Begin: Fluid Container Tweak -------------------- */
::-webkit-scrollbar { 
  display: none; 
}

.container {
  width: 100%;
  max-width: initial;
  min-height: 100vh;
  /* Flexbox */
  display: flex;
  flex-direction: column;
}

.container > .row {
  margin: 0;
}

.container > .row > .col {
  padding: 0;
}

/* ---------------------- End: Fluid Container Tweak ---------------------- */

/* ------------------------- Begin: Signin Page  ------------------------- */
.fullscreen-container {
  height: 100vh;
}

.slide-col {
  height: 100%;
}

.side-bg-left {
  background: #80cbc4;
  width: inherit;
  height: 100%;
  border-radius: 2.5rem 0 0 2.5rem;
  position: fixed;
}

.corner-container {
  margin-top: 2rem;
  margin-right: 2rem;
}

.create-btn {
  background: rgba(255, 255, 255, 0);
  color: #000;
  border: 0.5px solid #000;
  margin: 0 1.5rem;
}

.create-btn:hover {
  background-color: #FFF!important;
}

.form-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
  flex-grow: 1;
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
}

.form-subtitle {
  font-size: 1.3rem;
  color: #595959;
}

.input-container {
  padding: 0 0.8rem;
}

.form-btn {
  width: 100%;
  background: #0091ea;
}

.oauth-title {
  font-weight: lighter;
  font-size: 1.7rem;
  margin: 1rem 0;
}

.facebook-btn {
  background: #3b5999;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: none;
}

.google-btn {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
  text-transform: none;
  padding-right: 2rem;
}

.fa-facebook-f {
  margin-right: 0.4rem;
}

.google-icon {
  vertical-align: middle;
  margin-right: 0.4rem;
}
/* -------------------------- End: Signin Page  -------------------------- */

/* --------------------------- Begin: Navbar  --------------------------- */
.quarter-bigger {
  font-size: 1.25rem;
}
/* ---------------------------- End: Navbar  ---------------------------- */
nav {
  background-image: radial-gradient(#82bb92, #8cc59c, #95cea5);
}

/* -------------------- Begin: Create Donation Page  -------------------- */
.create-form-container {
  background: #f9fbf8;
  flex-grow: 1;
  padding: 2.5rem 4rem;
}

.create-form-detail {
  padding: 1.5rem 1.5rem!important;
}

.create-form-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.create-form-subtitle {
  font-weight: lighter;
}

/* --------------------- End: Create Donation Page  --------------------- */

/* ------------------------ Begin: Landing Page  ------------------------ */

.category-bar {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0!important;
  background: #FFF;
  border-bottom: 1px solid #F2F2F2;
}

.category {
  font-size: 1.25rem;
  margin: 0 0.8rem;
  color: #999;
  cursor: pointer;
}

.selected {
  color: #82bb92;
  font-weight: 500;
}

.main {
  background: #f4f4f4;
  min-height: 100vh;
  padding: 1.5rem 0;
}

.item-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-container:hover {
  background: #fff;
}

.item-name {
  color: #757575;
  font-size: 1.5rem;
}

.item-zipcode {
  font-size: 0.8rem;
  color: #757575;
}

/* ------------------------- End: Landing Page  ------------------------- */

/* -------------------------- Begin: Item Page  ------------------------- */
.item-page-container {
  min-height: 100vh;
  background: #f4f4f4;
  padding-top: 2rem;
}

.item-page-main {
  background: #fff;
  display: flex;
}

.item-info {
  display: flex;
  flex-direction: column;
  padding-left: 4rem!important;
  /* justify-content: center; */
  /* align-items: center; */
}

.item-page-title {
  color: #82bb92;
  margin-top: 3rem;
  font-weight: 500;
  font-size: 2.5rem;
}

.item-page-desc {
  margin: 1rem 0;
}

.item-page-zip {
  color: #82bb92;
  font-weight: 500;
}

.item-page-times {
  margin-bottom: 1.5rem;
}

/* --------------------------- End: Item Page  -------------------------- */

/* --------------------------- Begin: Waitlist  -------------------------- */

.waitlist-container {
  padding: 0 10rem;
  background: #f4f4f4;
  min-height: 90vh;
}

#waitlist-title {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0;
}

th {
  color: #82bb92;
}

#td-item-name {
  color: #000;
  font-weight: 500;
}

/* ---------------------------- End: Waitlist  --------------------------- */

/* ---------------------------- Begin: Bidlist  -------------------------- */

#bidlist-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.2rem 0;
  color: lightslategrey;
}

.donated-item-title {
  cursor: pointer;
  padding: 0.88rem 0;
  font-size: 1.2rem;
  color: lightgray;
}

.donated-item-title:hover {
  color: #82bb92;
  font-weight: 500;
}

.donated-item-title-selected {
  color: #82bb92;
  font-weight: 500;
}

.message-column {
  padding: 2rem!important;
}

.message-title, .time-title {
  font-weight: 500;
}

.message-content, .time-content {
  margin-bottom: 1.5rem;
}

.bid-button {
  border-radius: 2rem;
  margin: 0.1rem 0;
}

.message-container {
  border-bottom: 1px solid lightgray;
}

/* ----------------------------- End: Bidlist  --------------------------- */